// Add application variables
html,
body {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.6;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.8);
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 300;
}
h1 {
  font-size: $fontSize-grande--h1;
  line-height: $lineHeight-tighter--h1;
  letter-spacing: $letterSpacing-tightest--h1;
}
h2 {
  font-size: $fontSize-jumbo--h2;
  line-height: $lineHeight-tight--h2;
  letter-spacing: $letterSpacing-tighter--h2;
}
h3 {
  font-size: $fontSize-largest--h3;
  line-height: $lineHeight-tight--h3;
  letter-spacing: $letterSpacing-tight--h3;
}
h4 {
  font-size: $fontSize-larger--h4;
  line-height: $lineHeight-tight--h4;
}
h5 {
  font-size: $fontSize-large;
  line-height: $lineHeight-baseSans--h5;
}
h6 {
  font-size: $fontSize-base--h6;
  line-height: $lineHeight-base--h6;
  letter-spacing: 0;
}
p {
  margin-top: 0;
}
a {
  color: rgb(0, 192, 255);
}
a:hover {
  color: darken(rgb(0, 192, 255), 10);
}

@media #{$ranges-mediumUp} {
  h1 { font-size: $fontSize-grande--h1 * 1.1; }
  h2 { font-size: $fontSize-jumbo--h2 * 1.1;  }
  h3 { font-size: $fontSize-largest--h3 * 1.1;}
  h4 { font-size: $fontSize-larger--h4 * 1.1; }
  h5 { font-size: $fontSize-large--h5 * 1.1;  }
  h6 { font-size: $fontSize-base--h6 * 1.1;   }
}
