// color. Prefer rgb and rgba on color over hex, named, HSL, and hsla values.
// rgba have alpha values which tends to use rgb for consistency.

// private variable color value
// -----------------------------------------------------------------------------

// scales on greys
$black:        rgb(0, 0, 0);
$blackA8:      rgba(0, 0, 0, 0.87);
$blackA5:      rgba(0, 0, 0, 0.54);
$blackA2:      rgba(0, 0, 0, 0.26);
$blackA1:      rgba(0, 0, 0, 0.12);

$white:        rgb(255, 255, 255);
$whiteA8:      rgba(255, 255, 255, 0.87);
$whiteA7:      rgba(255, 255, 255, 0.7);
$whiteA3:      rgba(255, 255, 255, 0.3);
$whiteA1:      rgba(255, 255, 255, 0.12);

$charcoal:     rgb(33, 33, 33);
$darkgrey:     rgb(66, 66, 66);
$grey:         rgb(97, 97, 97);
$silver:       rgb(236, 236, 236);


// color to use on most components
$primary:      rgb(137, 218, 247);
$success:      rgb(101, 204, 143);
$alert:        rgb(255, 131, 122);
$warning:      rgb(252, 216, 80);
$notice:       rgb(210, 244, 255);

$stealth:      transparent;

// color application
// -----------------------------------------------------------------------------
$color-blackA8--body:                  $charcoal;
$color-primary--link:                  $primary;
$color-blackA5--btn:                   $blackA5;
$color-blackA8--btn:                   $blackA8;
$color-white--btnPrimary:              $white;
$color-white--btnAlert:                $white;
$color-whiteA8--navDark:               $whiteA8;

$bgColor-stealth--btn:                 $stealth;
$bgColor-primary--btnPrimary:          $primary;
$bgColor-primary--btnAlert:            $alert;
$bgColor-white--form:                  $white;
$bgColor-silver--code:                 $silver;
$bgColor-whiteA8--nav:                 $whiteA7;
$bgColor-blackA8--navDark:             $blackA8;

$borderColor-blackA5--btn:             $blackA5;
$borderColor-blackA8--btn:             $blackA8;
$borderColor-primary--btnPrimary:      $primary;
$borderColor-primary--btnAlert:        $alert;
$borderColor-blackA1--form:            $blackA1;
$borderColor-primary--form:            $primary;
$borderColor-blackA1--table:           $blackA1;
$borderColor-blackA1--nav:             $blackA1;
$borderColor-whiteA8--navDark:         $whiteA8;

$highlightColor-stealth--navLogo:       $stealth;
