.nav {
  background-color: $bgColor-whiteA8--nav;
  border-bottom: 1px solid $borderColor-blackA1--nav;
  padding: 12px 0;
  vertical-align: baseline;
}
.nav-logo {
  color: $color-blackA8--navLogo;
  display: inline-block;
  outline: 0;
  outline-style: none;
  outline-width: 0;
  -webkit-tap-highlight-color: $highlightColor-stealth--navLogo;
}
.nav-logo:hover, .nav-logo:focus {
  color: $color-blackA8--navLogo;
}
.nav-list {
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.nav-list > a {
  color: $color-blackA8--navList;
}
.nav-list > a, .nav-logo {
  display: inline-block;
  margin: 0 5px;
  outline: none;
  text-decoration: none;
}
.nav--fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.nav--dark {
  background-color: $bgColor-blackA8--navDark;
  border-bottom: 1px solid $white;
}
.nav--dark .nav-logo {
  color: $color-white--navDarkLogo;
}
.nav--dark .nav-list > a {
  color: $color-white--navListDark;
}
