.nav {
  box-sizing: border-box;
  background-color: $bgColor-whiteA8--nav;
  border-bottom: 1px solid $borderColor-blackA1--nav;
  padding: 12px 10px;
  border-radius: 1px;
  z-index: $zIndex-8--nav;
}
.nav-list {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.nav-item:hover,
.nav-item:focus {
  color: inherit;
  text-decoration: underline;
}
.nav-item,
.nav-logo {
  color: inherit;
  display: inline-block;
  margin: 0 5px;
  outline: none;
  text-decoration: none;
}
.nav-logo {
  display: inline-block;
  outline: 0;
  outline-style: none;
  outline-width: 0;
  -webkit-tap-highlight-color: $highlightColor-stealth--navLogo;
}
.nav-logo:hover,
.nav-logo:focus {
  color: inherit;
}
.nav--fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.nav--dark {
  background-color: $bgColor-blackA8--navDark;
  border-bottom: 1px solid $borderColor-whiteA8--navDark;
  color: $color-whiteA8--navDark;
}
